
.bio img{
	height: 180px;
    border-radius: 50%;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.navbar{
	margin: 0;
}
.bio{
	text-align: center;
	color: white;
	text-shadow: 1px 1px #000000;
	background-image: linear-gradient(to right, rgb(0, 230, 230), rgb(57, 230, 0), 	rgb(0, 230, 230));
	margin: auto;
}

#bioText{
	font-size: 20px;
	padding: 20px;
}

.navbar-header a{
	margin: 25px;
	font-size: 20px;
}

h4{
	margin: auto;
}

hr{
	margin-top: 10px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}




